@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman.var.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic.var.woff2') format('woff2');
}

/* titles */

hgroup.title {
	margin: 20px;
	font-size: 1.5em;
}

hgroup.title.secondary {
	font-size: 0.9em;
	margin: -60px 0 35px -60px;
}

hgroup.title.secondary.alt h2:before {
	background: #037072;
	opacity: .5;
}

hgroup.title p {
	letter-spacing: 0.02em;
	line-height: 1.5;
	padding: 0.2em 0.3em;
	left: 2em;
	top: -0.2em;
}

hgroup.title span {
	position: relative;
}

hgroup.title h2:before {
	background: #fc8f8d;
}

hgroup.title p:before {
	background: #037072;
	opacity: .5;
}

hgroup.title h2:before {
	left: 0.1em;
	right: 0.1em;
	top: 0.1em;
	bottom: 0.05em;
	transform: rotate(-5deg) skew(-6deg, 2deg);
}

hgroup.title p span {
	transform: rotate(-1.5deg);
	display: block;
}

hgroup.title p:before {
	transform: rotate(1deg) skew(5deg, -2deg);
	left: 0em;
	right: 0em;
	top: 0em;
	bottom: 0em;
}

hgroup.title h2, hgroup.title p {
	display: table;
	margin: 0;
	line-height: 1;
	color: #fff;
	text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.35);
	font-family: 'VT323', monospace;
	font-weight: 400;
	position: relative;
}

hgroup.title h2:before, hgroup.title p:before {
	content: "";
	display: block;
	position: absolute;
}

hgroup.title h2 {
	font-size: 3em;
	padding: 0.1em;
}

hgroup.title h2 span {
	display: block;
	transform: rotate(-2deg);
}

/* code blocks */

code {
	background: hsl(230, 1%, 96%);
	border: 1px solid hsl(230, 1%, 94%);
	border-radius: 0.2em;
	padding: 0 0.4em;
	font-weight: normal;
	color: hsl(301, 63%, 40%);
	font-weight: 600;
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 0.875em;
}

/* contribute to github button */

#contribute {
	position: fixed;
	top: 50px;
	right: 50px;
	z-index: 2;
}
#contribute a, #contribute a:visited {
	padding: 2px 7px;
	color: #fff;
	font-size: 1.25rem;
	font-family: 'VT323', monospace;
	text-shadow: -2px 2px 0px rgb(0 0 0 / 35%);
	background: #0ea5e9;
	display: block;
	position: relative;
	top: 0.1em;
	left: 0.1em;
	right: 0.1em;
	bottom: 0.05em;
	transform: rotate(-5deg) skew(-5deg, 2deg);
	transition: opacity .05s linear;
}
#contribute a:hover {
	opacity: 0.75;
}
@media (max-width: 1100px) {
	#contribute {
		display: none;
	}
}
